extends index.pug

block append styles
    link(rel='stylesheet', href='/css/chunking_component.css')

block append scripts
    script(type='module', src='/js/chunking_component.js')

block action
    +action Create Chunks

block breadcrumbs
    -
        var crumbs = [
            {name: "HOME", href: "/"},
            {name: params.lang.toUpperCase(), href: `/${params.lang}`},
            {name: params.book.toUpperCase(), href: `/${params.lang}/${params.book}`},
            {name: params.res.toUpperCase(), href: `/${params.lang}/${params.book}/${params.res}`}
        ]
    +breadcrumbs(crumbs, params.chapter.toUpperCase())
block content
    div(id='chunkingComponent' data-usx=contents)
