extends index.pug

block action
    +action Select Resource

block breadcrumbs
    -
        var crumbs = [
            {name: "HOME", href: "/"},
            {name: params.lang.toUpperCase(), href: `/${params.lang}`}
        ]
    +breadcrumbs(crumbs, params.book.toUpperCase())
block content
    ul(class='menu')
        each res in resources
            li
                a(onclick=`openResource('${params.lang}', '${params.book}', '${res.resource_id}')`)
                    span= res.resource_name
                    span= res.resource_id
        else
            li(class='not_found') There are no resources